.container {
  position: relative;
  border: 1px solid orange;
  height: 185;
  width: 550;
  margin: 50% auto;
}

#canvas {
  position: absolute;
  border: 1px solid green;
  top: 0;
  left: 0;
  width:"420px"; 
  height:"420px";
}