.container {
  position: relative;
  height: 200;
  width: 550;
  margin: 20% auto;
  padding-top: 64px;
}

.spacer {
  width: 100%;
  height: 50px;

}

.scorebox {
  width: 100%;
  height: 50px;

}

#canvas {
  position: absolute;
  top: 0;
  left: 0;
  /* width:"420px"; 
  height:"420px"; */
}

.bg {
  background-size: cover;
  position: absolute;
  object-fit: cover;
  /* display: flex; */
  height: 100%;
  width: 100%;
  z-index: -infinity;
}

.explosion {
  border-radius: 50px;
}

.hidden {
  display: none;
}

body {
  /* background-image: url("../images/bg-pic.jpeg"); */
  background-repeat: no-repeat;
  background-size: cover;
}

#welcome-page {
position: absolute;
left: 50%;
top: 50%;
transform: translate(-50%, -50%);
padding: 10px;
}

#game-system {
position: absolute;
left: 50%;
top: 50%;
transform: translate(-50%, -50%);
padding: 10px;
}
#btn {
  position: absolute;
  left: 36.5%;
  top: 54%;
  transform: translate(-50%, -50%);
  padding: 10px;
  width: 48px;
  height: 28px;
  background: transparent;
  cursor: pointer;
  outline: none;
  color: #fff;
  border: none;
  /* box-shadow: 0 9px #999; */
}

#btn:hover {
  opacity: 50%;
  background-color: #565756
}
/* #btn:active {
  background-color: #505250;
  box-shadow: 0 9px rgb(90, 90, 90);
  transform: translateY(8px);
} */