.container {
  position: relative;
  /* border: 1px solid orange; */
  height: 200;
  width: 550;
  margin: 20% auto;
  padding-top: 64px;
}
.spacer {
  width: 100%;
  height: 50px;
  border: 1px solid blue;
}

.scorebox {
  width: 100%;
  height: 50px;
  border: 1px solid blue;
}

#canvas {
  position: absolute;
  /* border: 1px solid green; */
  top: 0;
  left: 0;
  /* width:"420px"; 
  height:"420px"; */
}

.bg {
  background-size: cover;
  position: absolute;
  object-fit: cover;
  /* display: flex; */
  height: 100%;
  width: 100%;
}

.explosion {
  border-radius: 50px;
}